@import "../node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  width: 100vw;
  overflow: hidden;
}

.App {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.view-container {
  height: 88vh;
}
.content {
  padding: 0.5rem;
  max-height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.ant-input-affix-wrapper .ant-input {
  padding-left: 25px !important;
  border-left: solid 1px rgb(235, 232, 232) !important;
}
